@inherits LayoutComponentBase
@inject ThemeService ThemeService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-row-name">
                <span>Alberto  |  Valenzuela</span>
            
            </div>
        </div>
        
        <article class="content px-4 home-container">
            @Body
        </article>
        
    </main>
    <style>
        span{
            font-weight: bold;
            color: aliceblue;
        }
        
    </style>
</div>
@code{
    protected override void OnInitialized()
    {
        // Nos suscribimos al evento para que el Layout se vuelva a renderizar si cambia el tema
        ThemeService.OnThemeChanged += StateHasChanged;
    }
    public void Dispose()
    {
        // Desvincular el evento al destruir el componente
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}
