.navbar-toggler {
    background-color: var(--primary-color);
}

.top-row {
min-height: 3.5rem;
background-color: rgba(0, 0, 0, 0.5);}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

/*Preparamos el enlace para contener la luz */
.nav-item ::deep a {
    font-size: 8;
    font-weight: bold;
    color: #e5efff;
    background-color: transparent;
    position: relative;
    padding-bottom: 12px !important;
    margin-top: 62px;
    margin-bottom: 62px;
    
    display: inline-flex !important; 
    justify-content: center !important; 
    align-items: center !important; 
    line-height: 24px !important; 
    min-width: 120px; 
    
    transition: font-size 0.3s ease, color 0.3s ease;
}

.nav-item ::deep a.active {
    font-size: 28px;
    color: #ffffff; 
}

/*Creamos el "Haz de Luz" base (Estado Apagado/Por defecto) */
.nav-item ::deep a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; 
    width: 0%;  
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(0, 90, 216, 0.2) 0%, #495058 70%, #ffffff 100%);
    
    box-shadow: 0 0 8px #b9e1e9, 0 0 15px #ffffff;
     
    /*   Al quitar el mouse o la selección, el ancho vuelve a 0% de forma fluida */
    transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.nav-item ::deep a:hover::after,
.nav-item ::deep a.active::after {
    width: 100%; /* El haz de luz se completa al 100% */
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.navbar-brand-logo {
    display: inline-flex !important;
    align-items: center;       
    gap: 12px;                
}

.navbar-brand-logo img {
    height: 32px;              
    width: auto;              
    display: block;
    margin-left: 64px;
}

.top-row {
    min-height: 3.5rem;       
    display: flex;
    align-items: center;
}