/* Contenedor principal de la sección */
.about-section {
    
    /* Mide mínimo el 90% de la pantalla del usuario */
    min-height: 90vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

/* Envoltorio para controlar el ancho máximo del texto y centrarlo */
.about-container {
    max-width: 1200px;
    width: 100%;
    border-radius: 16px;
    padding: 40px;
    text-align: center;
  
}

/* Estilo del Título Principal */
.about-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    /* Degradado azul brillante en el texto */
    background: #a7bece;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilo para los Párrafos */
.about-paragraph {
    font-size: 16px;
    color: #e2e8f0; 
    line-height: 1.8; 
    margin-bottom: 20px;
}

.highlight-name {
   color: #489dff;
    font-weight: 700;
}

/* Resaltado para palabras clave como instituciones o tecnologías secundarias */
.about-paragraph span {
    color: #d0ddec;
    font-weight: 600;
}

/* Pequeñas etiquetas (Badges) para tus tecnologías principales (.NET, Blazor, C#) */
.tech-badge {
    background: rgba(182, 197, 200, 0.15);
    color: #acd7ff !important;
    padding: 2px 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 123, 255, 0.3);
    font-size: 1rem;
    display: inline-block;
}
