@page "/certifications"
@using portafolioV2.Models
@using portafolioV2.Shared
@inject HttpClient Http

<div class="container my-5">
    <h2 class="text-center about-title">
        Mis cursos y certificados
    </h2>

    @if (certification == null)
{
    <p>Cargando proyectos...</p>
}
else
{
    int index=1;
    <div class="certifications-grid abaout-paragraph fade-in-card" style="animation-delay: @(index * 0.15)s;">
        @foreach (CertificationItem c in certification)
        {
            <CertificationCard Certification="c" />
        }
    </div>
}
</div>

@code {
    private  List<CertificationItem> ?certification;
    
    protected override async Task OnInitializedAsync()
    {
        // carga desde wwwroot/data/projects.json
        certification = await Http.GetFromJsonAsync<List<CertificationItem>>(requestUri: "data/certifications.json");
    }
   
}