@page "/"

<PageTitle>Portafolio Web</PageTitle>

<div class="home-container2">
    <div class="home-content">
        <div class="text-section">
            <h1>¡Hola! 👋 Soy <span class="highlight">Alberto</span></h1>
            <h3>Ingeniero en Sistemas Computacionales</h3>
            <h2>C#, Microsoft SQL Server, HTML, CSS, Blazor, .NET MAUI</h2>
            <p>
                Me apasiona crear aplicaciones haciendo uso de teconologías del entorno .NET, 
                este portafolio muestra algunos de mis proyectos y tecnologías favoritas.
            </p>

            <div class="home-buttons">
                <NavLink href="projects" class="btn-primary">Ver Proyectos</NavLink>
                <NavLink href="about" class="btn-secondary">Sobre mí</NavLink>
                <a href="files/Alberto_Valenzuela_CV2026.pdf" download class="btn-secondary btn-3">Descargar CV</a>
                <a href="https://www.linkedin.com/in/alberto-valenzuela-rivera-2a4b86225" class="btn-secondary">Linkedin</a>
            </div>
        </div>

        <div class="image-section">
            <img src="images/usuario.png" alt="Foto" />
        </div>
    </div>
</div>
