@page "/"

<section class="about-section">
    <div class="about-container contenedor-glass fade-in-card">
        <div class="about-text">
            <h1 class="about-title">¡Hola!👋 Soy <span class="highlight-name">Alberto</span></h1>
            <h2>Ingeniero en Sistemas Computacionales</h2>
            <h3>C#, Microsoft SQL Server, Blazor, HTML, CSS, NET MAUI</h3>
            
            <p class="about-paragraph">
               Me apasiona crear aplicaciones haciendo uso de tecnologías del entorno .NET, este portafolio muestra algunos de mis proyectos y tecnologías favoritas.
            </p>
        </div>
        <div class="home-buttons">
                <NavLink href="projects" class="btn-primary">Ver Proyectos</NavLink>
                <NavLink href="about" class="btn-secondary">Sobre mí</NavLink>
                <a href="files/Alberto_Valenzuela_CV2026.pdf" target="_blank" rel="noopener noreferrer" class="btn-secondary btn-3">Ver CV</a>
                <a href="https://www.linkedin.com/in/alberto-valenzuela-rivera-2a4b86225" class="btn-secondary">Linkedin</a>      
        </div>
    </div>
    <div class="about-container about-containerSkills contenedor-glass fade-in-card">
        <div class="about-text about-paragraph">
            <h3 class="h3skills">Conocimientos/Habilidades Complementarias</h3>
            <p class="paragraph">
                POO (Programación orientada a objetos), MVC (Modelo-Vista-Controlador), Git
            </p>
        </div>
    </div>
</section>