@page "/projects"
@using portafolioV2.Models
@using portafolioV2.Shared
@inject HttpClient Http


@if (projects == null)
{
    <p>Cargando proyectos...</p>
}
else
{
    int index=1;
    <div class="projects-grid fade-in-card" style="animation-delay: @(index * 0.15)s;">
        <Virtualize Items="projects" Context="p">
                        <ProjectCard Project="p" />

        </Virtualize>
       
    </div>
}

@code {
    private  List<ProjectItem>  ?projects;

    protected override async Task OnInitializedAsync()
    {
        // carga desde wwwroot/data/projects.json
        projects = await Http.GetFromJsonAsync<List<ProjectItem>>("data/projects.json");
    }
    
}
