@page "/projects"
@using portafolioV2.Models
@using portafolioV2.Shared
@inject HttpClient Http


@if (projects == null)
{
    <p>Cargando proyectos...</p>
}
else
{
    <div class="projects-grid">
        @foreach (ProjectItem p in projects)
        {
            <ProjectCard Project="p" />
        }
    </div>
}

@code {
    private  List<ProjectItem>  ?projects;

    protected override async Task OnInitializedAsync()
    {
        // carga desde wwwroot/data/projects.json
        projects = await Http.GetFromJsonAsync<List<ProjectItem>>("data/projects.json");
    }
}
